.header {
  display: flex;
  flex-direction: column;
  width: 880px;
  height: auto;
  padding-top: 45px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.header-title {
  color: #ffffff;
}

.header-title__complement {
  font-size: 14px;
  color: #545454;
  vertical-align: top;
  margin-left: 5px;
}

.header__divider {
  width: 100%;
  height: 1px;
  background-color: #545454;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    width: 100%; /* El encabezado ocupa todo el ancho */
    padding-top: 28px; /* Añadir padding superior de 28px */
    padding-bottom: 32px; /* Mantener el padding inferior si lo necesitas */
    align-items: flex-start; /* Asegurar que los elementos internos se alineen desde la parte superior */
    flex-direction: column; /* Mantener la disposición en columna si es necesario */
    margin-bottom: 0; /* Aseguramos que no haya margen inferior en el header */
  }

  .header-title {
    color: #ffffff;
    font-size: 24px; /* Reducir el tamaño del título */
    margin-left: 27px;
    margin-top: 0; /* Asegurar que no haya margen superior adicional en el título */
  }

  .header-title__complement {
    font-size: 12px; /* Reducir el tamaño del complemento */
    color: #545454;
    margin-left: 3px; /* Reducir el margen izquierdo */
  }

  .header__divider {
    width: 100%;
    background-color: #545454;
    border: none;
    margin-bottom: 0; /* Volvemos a 0 el margen inferior de la línea */
  }
}
