.profile-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.profile-popup-container.active {
  display: flex;
}

.profile-content {
  background-color: #ffffff; /* Cambiado según la última solicitud */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 430px;
  height: 330px;
  overflow: hidden;
  position: relative;
}

.profile-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.profile-popup-title {
  font-family: "Inter-Black";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  margin-top: 34px;
  margin-left: 36px;
}

.profile-popup-close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px;
  line-height: 1;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
}

.profile-content-wrapper {
  display: flex;
  position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
  /* Las dimensiones se heredarán del .profile-content */
}

.profile-popup-close-button.outside {
  position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
  top: -45px; /* Ajustamos la posición para que sobresalga un poco */
  right: -35px; /* Ajustamos la posición para que sobresalga un poco */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.8em;
  padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
  line-height: 1;
  z-index: 10; /* Aseguramos que esté por encima del .profile-content */
}

.profile-popup-close-button:hover {
  color: #545454; /* Cambia el color del icono al pasar el mouse */
}

.profile-popup-close-button.outside svg {
  width: 40px; /* Ajustamos el tamaño del SVG dentro del botón */
  height: 40px;
  fill: currentColor;
}

@media screen and (max-width: 1024px) {
  .profile-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }

  .profile-popup-container.active {
    display: flex;
  }

  .profile-content {
    background-color: #ffffff; /* Cambiado según la última solicitud */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 282px;
    height: 322px;
    overflow: hidden;
    position: relative;
  }

  .profile-popup-header {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  .profile-popup-title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 18px; /* Reducir el tamaño del título del modal */
    line-height: 100%;
    color: #000000;
    margin-left: 22px;
    margin-top: 25px;
  }

  .profile-popup-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Reducir el tamaño del botón */
    color: #888;
    line-height: 1;
    position: absolute;
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
    z-index: 10;
  }

  .profile-content-wrapper {
    display: flex;
    position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
    /* Las dimensiones se heredarán del .profile-content */
  }

  .profile-popup-close-button.outside {
    position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
    top: -30px; /* Ajustamos la posición para que sobresalga un poco */
    right: -10px; /* Ajustamos la posición para que sobresalga un poco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
    line-height: 1;
    z-index: 10; /* Aseguramos que esté por encima del .profile-content */
  }

  .profile-popup-close-button:hover {
    color: #545454; /* Cambia el color del icono al pasar el mouse */
  }

  .profile-popup-close-button.outside svg {
    width: 20px; /* Ajustamos el tamaño del SVG dentro del botón */
    height: 20px;
    fill: currentColor;
  }
}

@media screen and (max-width: 768px) {
  .profile-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }

  .profile-popup-container.active {
    display: flex;
  }

  .profile-content {
    background-color: #ffffff; /* Cambiado según la última solicitud */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 282px;
    height: 322px;
    overflow: hidden;
    position: relative;
  }

  .profile-popup-header {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  .profile-popup-title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 18px; /* Reducir el tamaño del título del modal */
    line-height: 100%;
    color: #000000;
    margin-left: 22px;
    margin-top: 25px;
  }

  .profile-popup-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Reducir el tamaño del botón */
    color: #888;
    line-height: 1;
    position: absolute;
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
    z-index: 10;
  }

  .profile-content-wrapper {
    display: flex;
    position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
    /* Las dimensiones se heredarán del .profile-content */
  }

  .profile-popup-close-button.outside {
    position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
    top: -30px; /* Ajustamos la posición para que sobresalga un poco */
    right: -10px; /* Ajustamos la posición para que sobresalga un poco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
    line-height: 1;
    z-index: 10; /* Aseguramos que esté por encima del .profile-content */
  }

  .profile-popup-close-button:hover {
    color: #545454; /* Cambia el color del icono al pasar el mouse */
  }

  .profile-popup-close-button.outside svg {
    width: 20px; /* Ajustamos el tamaño del SVG dentro del botón */
    height: 20px;
    fill: currentColor;
  }
}

@media screen and (max-width: 544px) {
  .profile-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }

  .profile-popup-container.active {
    display: flex;
  }

  .profile-content {
    background-color: #ffffff; /* Cambiado según la última solicitud */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 282px;
    height: 322px;
    overflow: hidden;
    position: relative;
  }

  .profile-popup-header {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  .profile-popup-title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 18px; /* Reducir el tamaño del título del modal */
    line-height: 100%;
    color: #000000;
    margin-left: 22px;
    margin-top: 25px;
  }

  .profile-popup-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Reducir el tamaño del botón */
    color: #888;
    line-height: 1;
    position: absolute;
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
    z-index: 10;
  }

  .profile-content-wrapper {
    display: flex;
    position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
    /* Las dimensiones se heredarán del .profile-content */
  }

  .profile-popup-close-button.outside {
    position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
    top: -30px; /* Ajustamos la posición para que sobresalga un poco */
    right: -10px; /* Ajustamos la posición para que sobresalga un poco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
    line-height: 1;
    z-index: 10; /* Aseguramos que esté por encima del .profile-content */
  }

  .profile-popup-close-button:hover {
    color: #545454; /* Cambia el color del icono al pasar el mouse */
  }

  .profile-popup-close-button.outside svg {
    width: 20px; /* Ajustamos el tamaño del SVG dentro del botón */
    height: 20px;
    fill: currentColor;
  }
}

@media screen and (min-width: 321px) and (max-width: 543px) {
  .profile-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Aseguramos que sea flex para el centrado */
    justify-content: center; /* Centra horizontalmente los hijos */
    align-items: center; /* Centra verticalmente los hijos */
    z-index: 1000;
    display: none;
  }

  .profile-popup-container.active {
    display: flex;
  }

  .profile-content {
    background-color: #ffffff; /* Cambiado según la última solicitud */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 240px; /* Un ancho más común para móviles */
    height: auto; /* Ajustar la altura automáticamente */
    overflow: hidden;
    position: relative;
  }

  .profile-popup-header {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  .profile-popup-title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 18px; /* Reducir el tamaño del título del modal */
    line-height: 100%;
    color: #000000;
    margin-left: 22px;
    margin-top: 25px;
  }

  .profile-popup-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Reducir el tamaño del botón */
    color: #888;
    line-height: 1;
    position: absolute;
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
    z-index: 10;
  }

  .profile-content-wrapper {
    display: flex;
    position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
    /* Las dimensiones se heredarán del .profile-content */
  }

  .profile-popup-close-button.outside {
    position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
    top: -30px; /* Ajustamos la posición para que sobresalga un poco */
    right: -10px; /* Ajustamos la posición para que sobresalga un poco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
    line-height: 1;
    z-index: 10; /* Aseguramos que esté por encima del .profile-content */
  }

  .profile-popup-close-button:hover {
    color: #545454; /* Cambia el color del icono al pasar el mouse */
  }

  .profile-popup-close-button.outside svg {
    width: 20px; /* Ajustamos el tamaño del SVG dentro del botón */
    height: 20px;
    fill: currentColor;
  }
}

@media screen and (max-width: 320px) {
  .profile-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Aseguramos que sea flex para el centrado */
    justify-content: center; /* Centra horizontalmente los hijos */
    align-items: center; /* Centra verticalmente los hijos */
    z-index: 1000;
    display: none;
  }

  .profile-popup-container.active {
    display: flex;
  }

  .profile-content {
    background-color: #ffffff; /* Cambiado según la última solicitud */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 240px; /* Un ancho más común para móviles */
    height: auto; /* Ajustar la altura automáticamente */
    overflow: hidden;
    position: relative;
  }

  .profile-popup-header {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  .profile-popup-title {
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 18px; /* Reducir el tamaño del título del modal */
    line-height: 100%;
    color: #000000;
    margin-left: 22px;
    margin-top: 25px;
  }

  .profile-popup-close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Reducir el tamaño del botón */
    color: #888;
    line-height: 1;
    position: absolute;
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
    z-index: 10;
  }

  .profile-content-wrapper {
    display: flex;
    position: relative; /* Establecemos un contexto de posicionamiento para la "X" */
    /* Las dimensiones se heredarán del .profile-content */
  }

  .profile-popup-close-button.outside {
    position: absolute; /* Ahora absoluto respecto a .profile-content-wrapper */
    top: -30px; /* Ajustamos la posición para que sobresalga un poco */
    right: -10px; /* Ajustamos la posición para que sobresalga un poco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px; /* Añadimos un poco de padding para que sea más fácil hacer clic */
    line-height: 1;
    z-index: 10; /* Aseguramos que esté por encima del .profile-content */
  }

  .profile-popup-close-button:hover {
    color: #545454; /* Cambia el color del icono al pasar el mouse */
  }

  .profile-popup-close-button.outside svg {
    width: 20px; /* Ajustamos el tamaño del SVG dentro del botón */
    height: 20px;
    fill: currentColor;
  }
}
